.card-img-top {
    width: 100%;
	min-height: 270px;
    max-height: 270px;
    object-fit: cover;
}

.cards {
    padding: 15px;
}

.card-block {
    padding-top: 15px;
    position: absolute;
    bottom: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 50%;
}

.card-block {
    color: white;
}

.card-block > a:hover {
    text-decoration: none
}

.card-title {
    font-size: 24px;
}

.card-text {
    font-size: 16px;
}