.carousel .item {
  height: 700px;
}
.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
.carousel-caption > h1{
  font-size: 40px;
  text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.carousel-caption > p{
  font-size: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
