#search_bar {
    background-color: #f8f8f8;
    border-bottom: solid 1px;
    border-color: #c0c0c0;
}

.search_filters {
    padding-left: 100px;
}

.search_filter {
    cursor: pointer;
    font-size: 14px;
    color: #a0a0a0;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 6px;
    padding-right: 6px;
    display: inline-block;
}

.search_active {
    border-bottom: solid 3px;
    border-color: #1A73E8;
    color: #1A73E8;
    font-weight: bold;
}

.search_desc {
   margin-top: 12px;
   color: #888888; 
   font-size: 14px;
   font-weight: normal;
}

div > table {
    margin-left: 50px;
}

form {
    padding: 20px;
    padding-bottom: 0px;
}

form > input {
    box-shadow: 0px 2px 5px #aaaaaa;
    border: solid 1px;
    border-color: #cccccc;
    border-radius: 2px;
    font-size: 16px;
    padding: 10px 8px 8px 8px;
    width: 640px;
}

a > h3 {
    color: #1a0dab;
}

tr {
    font-size: 12px;
}

tr > p {
    margin: 0px;
    font-size: 12px;
    line-height: 16px;
}

.search_top {
    color: #006621;
    font-size: 14px;
    line-height: 18px;
}

tbody > div {
    margin: 20px;
}