{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}

  <h2 align="center" style = "padding-top: 25px;padding-bottom: 25px">{{ heading }}</h3>

  <p>learning2earn is a website where those who want to learn can find online courses
  in subjects they are interested in, as well as linking those courses to relevant jobs</p>

  <h4>About the team</h4>
  <div class="card-columns">
  {% for i in range(0,data_length) %}
    <div class="card-deck">
      <div class="card" width="300px">
        <img class="card-img-top" src="{{ data[i]['image'] }}" alt="Developer Image" style="width:300px;height:300px;">
        <div class="card-block">
          <h4 class="card-title">{{data[i]['name']}}</h4>
          <div class="card-body">
          <p><b>Bio: </b>Generic bio here</p>
          <p><b>Responsibilities: </b> Showing up to work</p>
          <p><b># of Commits: </b> {{data[i]['commits']}}</p>
          <p><b># of Issues: </b> {{data[i]['issues']}}</p>
          <p><b># of Unit Tests: </b> {{data[i]['unit_tests']}}</p>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
</div>

{% endblock %}
