{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}

  <h2 align="center" style = "padding-top: 25px;padding-bottom: 25px">{{ heading }}</h3>

  <p align="center">learning2earn is a website where those who want to learn can find online courses
  in subjects they are interested in, as well as linking those courses to relevant jobs</p>

  <h3 align="center">About the team</h3>
  <div class="container-fluid" align="cenger">
  <div class="row justify-content-center">
  {% for i in range(0,data_length) %}
    <div class="col-sm-2" align="center">
      <div class="card" style="height:700px">
        <img class="card-img-top" src="{{ data[i]['image'] }}" alt="Developer Image" style="width:225px;height:225px;">
        <div class="card-block">
          <h4 class="card-title">{{data[i]['name']}}</h4>
          <div class="card-body">
          <p><b>Bio: </b>{{data[i]['bio']}}</p>
          <p><b>Responsibilities: </b> Showing up to work</p>
          <p><b># of Commits: </b> {{data[i]['commits']}}</p>
          <p><b># of Issues: </b> {{data[i]['issues']}}</p>
          <p><b># of Unit Tests: </b> {{data[i]['unit_tests']}}</p>
          </div>
        </div>
      </div>
      </div>
  {% endfor %}
  </div>
  </div>
  <br>
  <h3 align="center">Collective Statistics</h3>
  <div align="center">
  <a href="https://github.com/JeffJiang42/learning2earn"><button type="button" class="btn btn-primary">Github Repository</button></a>
  </div>
  <p align="center"><b>Total # of Commits: </b><p>
  <p align="center"><b>Total # of Issues: </b><p>
  <p align="center"><b>Total # of Unit Tests: </b><p>

  <h3 align="center">Tools</h3>
  <p align="center">Our code is hosted on <a href="https://github.com"><b>Github</b></a><p>
  <p align="center">We are using <a href="https://slack.com"><b>Slack</b></a> as our main method of communication<p>
  <p align="center">We are using <a href="http://flask.pocoo.org"><b>Flask</b></a> for our web framework<p>
    <p align="center">Our project is hosten on <a href="https://aws.amazon.com"><b>Amazon Web Services</b></a><p>
  <h3 align="center">Data</h3>

{% endblock %}
