{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}

  <h2 align="center" style = "padding-top: 25px;padding-bottom: 25px">{{ heading }}</h3>

  <p align="center">learning2earn is a place to find both work and knowledge. With
  the growing popularity of online courses, we aim to connect these courses to
  relevant job opportinuties. Our users will be able to see the applicability
  of specific courses and subjects, and conversely, be able to identify and obtain the
  necessary skills for their desired work.</p>

  <h3 align="center">Meet the Team</h3>
  <div class="container-fluid">
  <div class="row justify-content-center">
  {% for i in range(0,3) %}
    <div class="col-sm-3" align="center">
      <div class="card" style="height:720px">
        <br>
        <img class="img-thumbnail" src="{{ data[i]['image'] }}" alt="Developer Image" style="width:256px;height:256px;">
        <div class="card-block">
          <br>
          <h4 class="card-title">{{data[i]['name']}}</h4>
          <div class="card-body">
          <p><b>Bio: </b>{{data[i]['bio']}}</p>
          <p><b>Responsibilities: </b> {{data[i]['resp']}}</p>
          <p><b># of Commits: </b> {{data[i]['commits']}}</p>
          <p><b># of Issues: </b> {{data[i]['issues']}}</p>
          <p><b># of Unit Tests: </b> {{data[i]['unit_tests']}}</p>
          </div>
        </div>
      </div>
      </div>
  {% endfor %}
  </div>
  </div>
  <br>
  <div class="container-fluid">
  <div class="row justify-content-center">
  {% for i in range(3,5) %}
    <div class="col-sm-3" align="center">
      <div class="card" style="height:700px">
        <br>
        <img class="img-thumbnail" src="{{ data[i]['image'] }}" alt="Developer Image" style="width:256px;height:256px;">
        <div class="card-block">
          <br>
          <h4 class="card-title">{{data[i]['name']}}</h4>
          <div class="card-body">
          <p><b>Bio: </b>{{data[i]['bio']}}</p>
          <p><b>Responsibilities: </b>{{data[i]['resp']}}</p>
          <p><b># of Commits: </b> {{data[i]['commits']}}</p>
          <p><b># of Issues: </b> {{data[i]['issues']}}</p>
          <p><b># of Unit Tests: </b> {{data[i]['unit_tests']}}</p>
          </div>
        </div>
      </div>
      </div>
  {% endfor %}
  </div>
  </div>

  <br>
  <h3 align="center">Collective Statistics</h3>
  <p align="center"><b>Total # of Commits: </b> {{total_stats[0]}}<p>
  <p align="center"><b>Total # of Issues: </b>{{total_stats[1]}}<p>
  <p align="center"><b>Total # of Unit Tests: </b>0<p>

  <h3 align="center">Repository + Report + Documentaton</h3>
  <div id=repo align="center">
  <a href="https://github.com/JeffJiang42/learning2earn"><button type="button" class="btn btn-primary">Github Repository</button></a>
  <a href="https://acciaccatura.gitbooks.io/api/content/"><button type="button" class="btn btn-primary">API Documentation</button></a>
  <a href="https://jeffjiang42.gitbooks.io/report/content/"><button type="button" class="btn btn-primary">Report</button></a>
  </div>
  <br>

  <h3 align="center">Tools</h3>
  <p align="center">Our code is hosted on <a href="https://github.com"><b>GitHub</b></a><p>
  <p align="center">We are using <a href="https://slack.com"><b>Slack</b></a> as our main method of communication<p>
  <p align="center">We are using <a href="http://flask.pocoo.org"><b>Flask</b></a> for our web framework<p>
  <p align="center">We are using <a href="https://getbootstrap.com"><b>Bootstrap</b></a> as a CSS framework<p>
  <p align="center">We are using <a href="http://jinja.pocoo.org"><b>Jinja2</b></a> for templating<p>
  <p align="center">We are using <a href="https://www.getpostman.com"><b>Postman</b></a> to design our API<p>
  <p align="center">We are using <a href="https://www.gitbook.com"><b>GitBook</b></a> to document our API and for our report<p>
  <p align="center">We are using <a href="https://www.docker.com"><b>Docker</b></a> to deploy our website<p>
  <p align="center">Our project is hosted on <a href="https://aws.amazon.com"><b>Amazon Web Services</b></a><p>

  <h3 align="center">Data</h3>

  <p align="center">For data on courses, we are using <a href="https://github.com/Khan/khan-api/wiki/Khan-Academy-API"><b>Khan Academy</b></a>
    and <a href="https://www.udemy.com/developers/"><b>Udemy</b></a><p>
  <p align="center">For data on jobs we are using <a href="https://authenticjobs.com/api/documentation/"><b>AuthenticJobs</b></a><p>
  <p align="center">We have made applications to other sites requesting access to their API.<p>
  <p align="center">These sites include <a href="https://www.indeed.com/publisher"><b>Indeed</b></a>, <a href="https://developer.linkedin.com/#"><b>LinkedIn</b></a>
  , and <a href="https://open.edx.org/open-edx-rest-apis"><b>edX</b></a> and are pending approval.<p>

  <br>
  <br>
{% endblock %}
