{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
	<div class="container h-100">
  	<div class="row h-100 justify-content-center align-items-center">
	<div class="card h-100" align = "center" style = "width:600px">
	  <img class="card-img-top" src="{{pageData['image']}}">
	  <div class="card-body">
	    <h4 class="card-title">{{pageData['name']}}</h4>
	    {% for key in pageKeys %}
	    	{% if 'Link' not in key %}
	    		<p class="card-text"><strong>{{key}}</strong>: {{pageData[key]}}</p>
	    	{% else %}
	    		<p class="card-text"><strong>{{key}}</strong>: <a href="https://{{pageData[key]}}">{{pageData[key]}}</a></p>
	    	{% endif %}
	    {% endfor %}
	  </div>
	</div>
	</div>
	</div>

{% endblock %}
