{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}

  <h2 align="center" style = "padding-top: 25px;padding-bottom: 25px">{{ heading }}</h3>

  {% for i in range(0,data_length,3) %}
    <div class="card-deck">
      <div class="card h-100">
        <img class="card-img-top" src="" alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">
            <a href="{{heading + '/' + data[i]['name']}}">{{data[i]['name']}}</a>
          </h4>
          <p class="card-text"># Subtopics: {{data[i]['subtopics']}}</p>
        </div>
      </div>
      <div class="card h-100">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">
            <a href="{{heading + '/' + data[i+1]['name']}}">{{data[i+1]['name']}}</a>
          </h4>
          <p class="card-text"># Subtopics: {{data[i+1]['subtopics']}}</p>
        </div>
      </div>
      <div class="card h-100">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-block">
          <h4 class="card-title">
            <a href="{{heading + '/' + data[i+2]['name']}}">{{data[i+2]['name']}}</a>
          </h4>
          <p class="card-text"># Subtopics: {{data[i]['subtopics']}}</p>
        </div>
      </div>
    </div>
  {% endfor %}
  


{% endblock %}
