{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block heading %}
  {{ super() }}
{% endblock %}
{% block content %}
  <div id="carouselStuff" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
	  <div class="item active">
	    <img src="https://fthmb.tqn.com/bkqa7sPVIDPFT7Gc7OpOg_xs848=/5130x3420/filters:no_upscale():fill(transparent,1)/woman-s-face-peeking-out-of-a-pile-of-money-71418271-57d6590e5f9b589b0ad652aa.jpg" alt="Get Money Fast">
		<div class="carousel-caption">
		  <h3>Get Cash Fast</h3>
		</div>
	  </div>
	  <div class="item">
	    <img src="https://money2india.icicibank.com/newm2iNet/images/overlayNRI.png" alt="Get Cash Fast">
	  </div>
	</div>
  </div>
{% endblock %}