{% extends "layout.html" %}
{% block title %}{{title}}{% endblock %}
{% block head %}
  {{ super() }}
  <style type="text/css">
    .carousel {
      min-width: 100%;
      height: 400px;
    }
    .item {
      min-height: 400px;
	  background-size: contain;
    }
   .main-body {
     padding-left: 10%;
	 padding-right: 10%;
   }
  </style>
{% endblock %}
{% block page %}{{title}}{% endblock %}
{% block content %}
<div id="carouselStuff" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
	<div class="item active" style="background: url(&quot;https://fthmb.tqn.com/pCuLnkKkjUFTZXF60YzhiZfIi-Y=/4200x2800/filters:no_upscale():fill(transparent,1)/young-professional-college-student-with-resume-at-job-interview-472097889-57e2eab53df78c690f3199b9.jpg&quot;);">
	  <div class="carousel-caption">
		<h3>Get Cash Fast!</h3>
		<p>Get easy money, even with a low credit score!</p>
	  </div>
	</div>
	<div class="item">
	  <h3>Hey</h3>
	</div>
  </div>
</div>
<div class="main-body">
  <h1>Learning2Earn makes it easy</h1>
  <p>With Learning2Earn, becoming rich and powerful from nothing is as easy as clicking a button!</p>
</div>
{% endblock %}